@import "variables.scss";

@font-face {
  font-family: "S-font";
  src: url("/assets/fonts/Roboto-Black.ttf");
}

a {
  text-decoration: none;
  transition: .3s;

  &:hover {
    color: #000;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

body {
  margin: 0 auto;
  max-width: 1140px;
  background: #e2e2e2;
}

.content-wrap {
  padding: 35px;
  border-radius: 10px;
}

p, a, span {
  margin: 0;
  font-family: S-font, serif;
  color: $grey-color;
}

header, footer, .content-wrap {
  background: #fff;
}

img {
  height: 60px;
}

.message-text {
  &.success-text {
    color: #2cd10e;
  }

  &.error-text {
    color: #ff4646;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: S-font, serif;
}

select op

input, select {
  margin: 0;
  padding: 0;
  &:focus-visible{
    outline: none;
  }
}

button, select, input, label{
  font-family: S-font, serif;
  font-size: 15px;
}

