@import url(variables.scss);

@font-face {
  font-family: "S-font";
  src: url("/assets/fonts/Roboto-Black.ttf");
}

body {
  margin: 0;
  background: #e2e2e2;
}

p , a, span{
  font-family: S-font;
  margin: 0;
}

header, footer, .content-wrap {
  background: #fff;
}

img{
  height: 60px;
}

.content-wrap{
  display: flex;
}