@import "variables.scss";
@import "notification.scss";

@font-face {
  font-family: "S-font";
  src: url("/assets/fonts/Roboto-Black.ttf");
}

.text-align-center{
  text-align: center;
}

.black-text{
  color: #000 !important;
}

.troop{
  color: $scout-color
}

.circle{
  color: $traveller-color
}

.national-council{
  color: $national-council-color
}

.community{
  color: $wolves-color
}

.green-color{
  color: $scout-color
}

.orange-color{
  color: $orange-color
}

.yellow-color{
  color: $wolves-color
}

.orange-color{
  color: $orange-color
}

body {
  margin: 0 auto;
  max-width: $desktop-wrapper-width;
  background: #e2e2e2;
}

a {
  text-decoration: none;
  transition: .3s;

  &:hover {
    color: #000;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

ul, ol{
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

.content-wrap {
  padding: 40px;
  margin: 40px;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
}

@media (max-width: $mobile-width) {
  .content-wrap {
    margin: 20px;
  }
}

p, a, span {
  margin: 0;
  font-family: S-font, serif;
  color: $grey-color;
}

header, footer, .content-wrap {
  background: #fff;
}

.success-text p {
  color: #2cd10e !important;
}

.error-text p {
  color: #ff4646 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: S-font, serif;
}

input, select {
  margin: 0;
  padding: 0;

  &:focus-visible {
    outline: none;
  }
}

button, select, input, label {
  font-family: S-font, serif;
  font-size: 15px;
}

.delete {
  &:hover {
    transition: .3s;
    fill: $traveller-color;
    color: $traveller-color;
  }
}

.edit {
  &:hover {
    fill: $orange-color;
    color: $orange-color;
  }
}

.create {
  transition: .3s;
  cursor: pointer;
  &:hover {
    fill: $scout-color;
    color: $scout-color;
  }
}

.title-actions {
  display: flex;

  .actions {
    margin: 0 0 0 auto;
    display: flex;

    & > a, & > div {
      height: 30px;
      width: 30px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    .promote {

      svg g {
        transition: .3s;
      }

      &:hover {
        svg g {
          fill: $scout-color;
        }
      }
    }

    .download {
      transition: .3s;

      &:hover {
        fill: $orange-color;
      }
    }
  }

}

.form-errors {
  margin-bottom: 40px;
  margin-left: 15px;

  li {
    list-style: disc;
  }
}


/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  margin: 0 30px;
  width: 260px;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.password-reset{
  h1{
    text-align: center;
  }
  form{
    div, button {
      margin: auto;
      display: flex;
      text-align: center;
    }
    div{
      display: block;
      width: 220px;
    }
  }
}
.single-game{
  h1, p{
    margin-bottom: 6px;
    span{
      color: #5eb5e0;
    }
  }

}