@import "variables.scss";

.header {
  margin: 40px 60px;
}

.menu-list {
  display: flex;
  opacity: 1;

  .profile-menu-item {
    margin: 0 0 0 auto;
  }

  li {
    &:first-child {
      margin-left: 0;
    }

    margin-left: 40px;
  }
}

.profile-leave {
  .logout {
    margin-left: 20px;
  }
}

#burger {
  cursor: pointer;
  height: 20px;
  display: none;

  div {
    width: 30px;
    margin-top: 5px;
    height: 3px;
    background: gray;
    transition: .3s;
  }

  #stick-1 {

  }

  #stick-2 {
  }

  #stick-3 {
  }


}


.open {
  #stick-1 {
    transform: rotate(45deg) translate(0, 11px);
  }

  #stick-2 {
    opacity: 0;
  }

  #stick-3 {
    transform: rotate(-45deg) translate(0, -11px);
  }
}

@media (max-width: $header-mobile-view-width) {
  #burger {
    display: block;
  }
  .page-wrap .header .menu-list{
    z-index: 1;
    opacity: 0;
    display: none;
    margin-left: -4px;
    transition: .3s;
    max-width: 140px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 10px;
    padding: 22px;
    box-shadow: rgb(34 60 80 / 20%) 0 0 8px 0;
    margin-top: 11px;
    li{
      margin-left:0 ;
      display: grid;
      &:first-child{
        a{
          border-top: none;
        }
      }
      a{
        margin-left: 0;
        border-top: 2px solid #bdbdbd;
        padding: 5px 0;
      }
    }
  }

}

