$grey-color: #7b7c7c;
$light-grey-color: #bfbfbf;

$orange-color: #fd7e00;
$wolves-color: #f2de11;
$scout-color: #008000;
$traveller-color: #ff0000;

$desktop-wrapper-width: 1180px;

$desktop-width: 1280px;
$mobile-width: 800px;
