{% extends 'admin/default/default.html.twig' %}

{% block content %}
    <h1>Profile</h1>
    {% for flashMessage in app.session.flashbag.get('fail') %}
        {{ flashMessage }}
    {% endfor %}
    <ul>
        {{ user.name }}
        {% if user.photo is not null %}
        <img src = "{{ asset('images/photos/' ~ user.photo.title ~ '.' ~ user.photo.extension) }}">
        {% endif %}
        {% if editable == true %}
        <li><a href="{{ path('user.edit', {'id': app.request.get('id')}) }}">edit</a></li>
        {% endif %}
    </ul>
{% endblock %}