<div id="promote-modal" class="modal">
    <div class="modal-content skeleton">
        <span id="close-promote">&times;</span>
        <div class="promote-form">
            <p class="message-text" id="promote-message"></p>
            <select id="promote-select"></select>
            <button id="promote-submit">Promote</button>
        </div>
    </div>
</div>
