<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UIGSE{% endblock %}</title>
    {% block css %}
        {{ encore_entry_link_tags('generalCss') }}
        <link href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="page-wrap">
    {% block header %}
    {% endblock %}
    <div class="content-wrap">
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
</div>
{% block notification %}
{% endblock %}
{% block js %}
    {{ encore_entry_script_tags('generalJs') }}
{% endblock %}
</body>
</html>
