<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UIGSE{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('scss') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('js') }}
    {% endblock %}
</head>
<body>
{% block header %}
{% endblock %}
<div class="page-wrap" id="app">
    <div class="content-wrap">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% block footer %}
{% endblock %}
</body>
</html>
